[run]
branch = True
source = orangecontrib
omit =
    orangecontrib/timeseries/widgets/*
    orangecontrib/timeseries/tests/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
