recursive-include orangecontrib/timeseries *.py *.pyx *.c *.cpp
recursive-include orangecontrib/timeseries/datasets *.tab *.csv

recursive-include orangecontrib/timeseries/widgets *.png *.svg
recursive-include orangecontrib/timeseries/widgets *.html *.css *.js LICENSE
recursive-include orangecontrib/timeseries/widgets/tests/datasets *.csv

recursive-include doc Makefile *.py *.rst *.svg *.png
prune doc/_build

include README.md
include README.pypi
include setup.py
